.PayDialogCont{


  .modalCont{
    .iconBlock{
      background-color: rgba(131, 0, 255, 0.2);
      .icon{
        fill: #8300ff;
      }
    }



    .deleteBtn{
      background-color: #8300ff !important;
    }
  }
}