.mainFilterBlock{
  border-bottom: 1px solid #e3e3e3;
  padding: 20px 20px 0;
  height: 25%;


  .headLine{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 10px 20px 30px ;

    .header{
      font-size: 20px;
      color: #3D3D3D;
      width: 100%;
      text-align: start !important;
      font-weight: 500;
    }


    .header2{
      font-size: 16px;
      color: #3D3D3D;
      width: 100%;
      text-align: start !important;
      font-weight: 500;
    }

    .calendarCont{
      display: flex;
      align-items: center;
      gap: 10px;



      .p-calendar{
        height: 30px;
        margin-right: 30px;


        .p-inputtext{
          font-size: 15px;
          padding: 8px 16px;
          min-width: 150px;
        }

        .p-datepicker-trigger{
          background-color: #8300ff;
        }
      }
    }

  }

  .secondLine{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    column-gap: 100px;
    row-gap: 20px;
    border-bottom: 1px solid #e3e3e3;

    .newOrderBtn{
      border-radius: 8px;
      padding: 4px 12px;
      border: none;
      outline: 0;
      cursor: pointer;
      font-size: 14px;
      font-weight: 500;
      color: white;
      background-color: #8300ff;
      transition: 0.2s ease-in-out;
      &:hover{
        filter: brightness(1.1);
      }
    }
  }

  .thirdLine{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 10px 20px;
    column-gap: 100px;
    row-gap: 20px;
    justify-content: end;
  }

  .infoLine{
    display: flex;
    align-items: center;
    gap: 12px;
    span{
      font-size: 16px;
      color: #3D3D3D;
    }

    .miniHeader{
      font-weight: 500;
    }
  }

  .debtBtn{
    border-radius: 8px;
    padding: 4px 12px;
    border: none;
    outline: 0;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #8300ff;
    transition: 0.2s ease-in-out;
    &:hover{
      filter: brightness(1.1);
    }
  }

}