.filterContainer{
    height: 20%;
    width: 100%;
    border-bottom: 1px solid #ededed;
    padding: 30px 40px;


    .header{
        font-size: 20px;
        color: #3D3D3D;
        width: 100%;
        text-align: start !important;
        font-weight: 500;
      }
}