.NewProductModalContainer{
  position: fixed;
  z-index: 25;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  overflow: auto;
  align-items: center;
  .backgroundBlock{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .modalContainer{
    width: 1000px;
    height: 95vh;
    position: relative;
    z-index: 2;
    overflow: hidden;
    .modalCont{
      height: 100%;
      width: 100%;
      overflow: auto;
      padding-right: 6px;
      border-radius: 16px;
      &::-webkit-scrollbar {
        width: 10px;
        background-color: transparent;
      }
      &::-webkit-scrollbar-thumb {
        background: white;
        border-radius: 16px;
        transition: 0.2s ease-in-out;
      }
      &::-webkit-scrollbar-thumb:hover{
        cursor: pointer;
        background: #e3e3e3;
      }

      .modal{
        width: 100%;
        padding: 32px;
        border-radius: 16px;
        background-color: white;

        .heightBlock{
          display: flex;
          justify-content: space-between;
          align-items: start;
          width: 100%;
          gap: 32px;

          .imagesCont{
            width: 40%;
            display: flex;
            flex-direction: column;


            .inputLabel{
              width: 100%;
              height: 300px;
              border-radius: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #efefef;
              cursor: pointer;
              transition: 0.2s ease-in-out;
              &:hover{
                filter: brightness(1.03);
              }

              input{
                display: none;
              }
              .icon{
                font-size: 80px;
                fill: #dadada;
              }

            }
            .secondBlock{
              margin-top: 20px;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .btn{
                width: 8%;
                height: 80px;
                border-radius: 8px;
                background-color: #d8d8d8;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.2s ease-in-out;


                &:hover{
                  background-color: #8300ff;
                }
                .icon{
                  font-size: 32px;
                  fill: white;
                }


              }

              .smallImg{
                width: 20%;
                background-color: #efefef;
                border-radius: 16px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                .icon{
                  font-size: 24px;
                  fill: #dadada;
                }
              }
            }
          }


          .inputsCont{
            flex-grow: 1;
          }

        }

        .secondBlock{
          width: 100%;
          display: flex;
          justify-content: space-between;


          .halfBlock{
            width: 49%;
          }
        }

        .thirdBlock{
          width: 100%;


          .header{
            font-size: 18px;
            font-weight: 600;
            color: #3D3D3D;
            margin-bottom: 20px;
          }
          .addBtn{
            width: 100%;
            margin-top: 8px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px;
            border-radius: 12px;
            background-color: #8300ff;
            border: none;
            cursor: pointer;
            transition: 0.2s ease-in-out;

            &:hover{
              filter: brightness(0.9);
              .icon{

              }
            }

            .icon{
              fill: white;
              font-size: 24px;
              transition: 0.2s ease-in-out;

            }
          }
          .useWaysBlock{
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 12px;
            gap: 20px;

            .selectBlock {
              width: 60px;
              min-width: 60px;
              height: 60px;
              border-radius: 12px;
              padding: 8px;
              border: 1px solid #dadada;
              cursor: pointer;
              background-color: white;
              transition: 0.2s ease-in-out;
              &:hover{
                filter: brightness(1.03);
                border-color: #8300ff;
              }

              .img{
                width: 100%;
                height: 100%;
                background-color: white;
                mix-blend-mode: multiply;
                object-fit: cover;
              }

              .icon{
                fill: #dadada;
                font-size: 28px;
              }
            }
            .G-input{
              width: 100%;
              padding: 8px 16px;
              border-radius: 12px;
              border: 1px solid #e3e3e3;
              background-color: white;
              font-size: 15px;
              outline: none;
              transition: 0.2s ease-in-out;
              color: #3D3D3D;

              &:focus-visible{
                border-color: #8300ff;
              }
            }
            .removeBtn{
              width: 60px;
              height: 60px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 12px;
              outline: none;
              border: none;
              background-color: transparent;
              transition: 0.2s ease-in-out;
              cursor: pointer;
              &:hover{
                filter: brightness(0.8);
              }
              .icon{
                font-size: 32px;
                fill: #ff3838;
              }
            }
          }
        }

        .G-label{
          width: 100%;

          .textarea{
            height: 150px;
            overflow: auto;
            resize: none;
            &::-webkit-scrollbar{
              display: none;
            }
          }

          .G-overText{
            font-size: 15px;
            color: #3D3D3D;
            font-weight: 500;
            margin-bottom: 4px;
          }

          .G-input{
            width: 100%;
            padding: 8px 16px;
            border-radius: 12px;
            border: 1px solid #e3e3e3;
            background-color: white;
            font-size: 15px;
            outline: none;
            transition: 0.2s ease-in-out;
            color: #3D3D3D;

            &:focus-visible{
              border-color: #8300ff;
            }
          }

          .errorText{
            font-size: 12px;
            color: #ff3838;
            height: 20px;
          }
        }



      }
    }
  }

  .selectCont{
    z-index: 5;
    border: 1px solid #8300ff;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    max-height: 175px;
    gap: 6px;
    width: max-content;
    max-width: 175px;
    .selectBtn{
      width: 45px;
      height: 45px;
      cursor: pointer;
      border: 1px solid #e3e3e3;
      border-radius: 6px;
      padding: 4px;
      transition: 0.2s ease-in-out;

      &:hover{
        border-color: #8300ff;
      }
      img{
        width: 100%;
        height: 100%;
        background-color: white;
        mix-blend-mode: multiply;
        object-fit: cover;
      }
    }

    .activeSelectBtn{
      border-color: #8300ff !important;
    }

  }

}